<?xml version="1.0" encoding="UTF-8"?>
<!-- 指定Spring配置文件的Schema信息 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<bean id="dbUtil" class="org.common.test.util.DBUnit_Util" />
	<bean id="resultUtil" class="org.common.util.ResultUtil" />

	<bean id="accountDao" class="org.common.RBAC.dao.impl.AccountDaoImpl"
		parent="daoTemplate" />
	<bean id="roleDao" class="org.common.RBAC.dao.impl.RoleDaoImpl"
		parent="daoTemplate" />
	<bean id="addressDao" class="org.common.FDBK.dao.impl.AddressDaoImpl"
		parent="daoTemplate" />
	<bean id="provinceDao" class="org.common.FDBK.dao.impl.ProvinceDaoImpl"
		parent="daoTemplate" />
	<bean id="cityDao" class="org.common.FDBK.dao.impl.CityDaoImpl"
		parent="daoTemplate" />
	<bean id="areacountDao" class="org.common.FDBK.dao.impl.AreacountyDaoImpl"
		parent="daoTemplate" />

	<bean id="indexDataDao" class="org.common.FDBK.dao.impl.IndexDataDaoImpl"
		parent="daoTemplate" />




	<bean id="accountManage" class="org.common.RBAC.service.impl.AccountManagerImpl"
		p:accountDao-ref="accountDao" p:resultUtil-ref="resultUtil" />
	<bean id="infoManage" class="org.common.FDBK.service.impl.InfoManageImpl"
		p:indexDataDao-ref="indexDataDao" />

</beans>